<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JavaScript &amp; jQuery - Chapter 11: Content Panels -  Slider</title>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/slider.css" />
  </head>
  <body>
<main id="main" tabindex="-1">
   <header><h1>Home Image Slider</h1></header> 
    <section class="slider-panel">

      <div class="slider">
        <div class="slide-viewer">
          <div class="slide-group">
            <div class="slide slide-1">
              <img src="img/modal-slider-img1.png" alt="House one exterior design" />
            </div>
            <div class="slide slide-2">
              <img src="img/modal-slider-img4.png" alt="House one interior design"  />
            </div>
            <div class="slide slide-3">
              <img src="img/modal-slider-img2.png" alt="House two exterior design" /> 
            </div>
            <div class="slide slide-4">
              <img src="img/modal-slider-img5.png" alt=" " alt="House two interior design"  />
            </div>
	    <div class="slide slide-5">
              <img src="img/modal-slider-img3.png" alt="" alt="House three exterior design" />
            </div>
            <div class="slide slide-6">
              <img src="img/modal-slider-img6.png"  alt="House two interior design" />
            </div>
          </div>
        </div>
        <div class="slide-buttons"></div>
      </div>

    </section>
</main>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/slider.js"></script>

  </body>
</html>
