<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JavaScript &amp; jQuery - Chapter 11: Content Panels -  Slider</title>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/slider.css" />
  </head>
  <body>
<div>
    <!-- <header><h1>WELLMAN</h1></header> -->
    <section class="slider-panel">

      <div class="slider">
        <div class="slide-viewer">
          <div class="slide-group">
            <div class="slide slide-1">
              <img src="img/modal-slider-img1.png" alt="No two are the same" />
            </div>
            <div class="slide slide-2">
              <img src="img/modal-slider-img4.png" alt="Monsieur Mints"  />
            </div>
            <div class="slide slide-3">
              <img src="img/modal-slider-img2.png" alt="The Flower Series"  />
            </div>
            <div class="slide slide-4">
              <img src="img/modal-slider-img5.png" alt="Salt o' The Sea"  />
            </div>
	    <div class="slide slide-5">
              <img src="img/modal-slider-img3.png" alt="The Flower Series"  />
            </div>
            <div class="slide slide-6">
              <img src="img/modal-slider-img6.png" alt="Salt o' The Sea"  />
            </div>
          </div>
        </div>
        <div class="slide-buttons"></div>
      </div>

    </section>
</div>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/slider.js"></script>

  </body>
</html>
